.irish-grover {
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
}

.crimson-pro {
    font-family: "Crimson Pro", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: #F5F5E2;
}

/*-home page starts-*/
.home-img {
    background-image: url("../images/Selenite.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.home-title {

    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
}

p {
    font-size: 28px;
    font-family: "Crimson Pro", serif;


}

.homepage-p {

    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    padding-top: 5%;
    padding-bottom: 5%;

}

.text-img {
    width: 100%;
    background-color: #ACCEAC;


}

.background {
    width: 25%;
    height: 100%;
    background-color: #ACCEAC;
    margin-right: 20px;
    margin-left: 70px;
    border-radius: 2%;


}

.image-div {
    padding-top: 15px;
    display: flex;
    align-self: center;


}

.card-paragraph {
    font-size: 20px;

}

.carousel-inner img {
    max-height: 60vh;
    object-fit: cover;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #897E7E;
}

/*------------------FOOTER-------------------------------------*/
footer {
    background-color: #D9D3DE;
}

footer {
    background-color: #D9D3DE;
    ;
    text-align: center;
}

.footer-display {
    display: flex;
    justify-content: center;
}

.footer-col1 {
    font-size: 25px;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 120px;
}

.footer-col2 {
    font-size: 25px;
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 80px;
}

.footer-col3 {
    font-size: 25px;
    padding-top: 100px;
    padding-left: 80px;
    padding-right: 100px;
}

.footer-quote {
    padding: 70px;
    font-size: 18px;
    font-weight: bolder;
}

/*--------------------CLASS-------------------------*/

.class-img {
    background-image: url("../images/ClassesBGUpdate.png");
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.class-img-overlay {
    color: white;
    font-family: irish-grover;
}


.class-description {
    background-color: #B5B1B4;
    margin-top: 25px;
    margin-bottom: 45px;
    border-radius: 15px;
    padding: 70px;
    font-family: crimson-pro;
    margin-top: 45px;
}

.col-class1 {
    background-color: pink;
    padding: 50px;
    margin-left: 50px;
    margin-right: 100px;
    border-radius: 15px;
    font-family: irish-grover;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 35px;

}

.col-class2 {
    background-color: pink;
    padding: 50px;
    margin-left: 70px;
    margin-right: 100px;
    border-radius: 15px;
    font-family: irish-grover;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 35px;

}

.teacher-container {
    background-color: rgb(157, 208, 157);
    margin-top: 25px;
    margin-bottom: 45px;
    border-radius: 15px;
}

.teacher-text {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 35px;
    font-weight: bolder;
    font-size: 35px;

}

.teacher-rows {
    padding: 50px;
    font-size: 20px;
}

.navAlignText {
    font-family: "Crimson Pro", serif;
    font-style: normal;
    height: 100%;
    width: 100%;
}


/* home page ends*/


/*-market Days starts--*/
.market-title {

    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
}

.heroCont {

    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 0;
}

.header {
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;

}

.days-p {

    font-size: 25px;
    font-family: "Crimson Pro", serif;
    height: 100%;
    width: 100%;
    margin-top: 0;
    margin-bottom: 30px;
    background-color: #ACCEAC;
    border-radius: 2%;
    display: flex;
    align-items: center;
    padding-left: 2%;

}

.bg-tan {
    background-color: #ACCEAC;
    padding: 0%;

}

.welcome-text {
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;

}

.article-cont {
    margin-bottom: 50px;
}

.title2 {
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 10px;
    margin-top: 10px;

}

.img-text {
    padding-top: 3%;
    padding-bottom: 5%;
}

.class3 {

    padding-bottom: 5%;
}

.market-img {
    background-image: url("../images/MarketBgUpdate.png");
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.market-img-overlay {
    color: white;
}

@media (max-width: 991.98px) {
    .navAlignText {
        flex-direction: column;
        align-items: flex-end;
    }
}

/*-market Days End-*/


/* inventory start */
.navAlignText {
    display: flex;
}

.navRightText {
    font-size: 24px;
}

.navTitleText {
    font-size: 35px;
    filter: drop-shadow(3px 5px 2px #8d8686);
}

.navColor {
    background-color: #D9D3DE;
}

.navCorrect {
    padding-top: 0;
}

.navCorrect {
    padding-top: 0;
    padding-bottom: 0;
}

.eyeSize {
    width: 22px;
    padding: 0px;
    filter: drop-shadow(3px 5px 2px #8d8686);
}

.headerGrid {
    display: grid;
}

.inventoryHeaderImg {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.textBoxInv {
    margin-top: 4%;
    margin-bottom: 4%;
    background-color: #B5B1B4;
    border-radius: 15px;
}

.textBoxLetters {
    font-size: 35px;
    text-align: center;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.card1Bg {
    background-color: #EBD1D1;
}

.Card1Img {
    height: 22rem;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #EBD1D1;
}

.card1Text {
    text-align: center;
    font-size: 40px;
}

.cardConatinerMarg {
    margin-left: 14%;
    margin-right: 10%;
}

.row2Marg {
    margin-top: 5rem;
}

.row4BtmMarg {
    margin-bottom: 8rem;
}

.greenCardBg {
    background-color: #ACCEAC;
}

.inventory-img {
    background-image: url("../images/inventoryBgUpdate.png");
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.inventory-img-overlay {
    color: white;
    font-family: irish-grover;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 70px;
}

@media (max-width: 425px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 70px;
    }
}