.main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.hero-grid{
    grid-row: 1;
    grid-column: span 3;
    min-height: 50%;

}
.text{
font-family: 'Times New Roman', Times, serif;
grid-row: 2;
grid-column: span 3;
justify-content: center;
padding-right: 50px;
padding-left: 50px;
font-size: 40px;
justify-content: center;



}

.carousel{
grid-column: span 3;
grid-row: 3;
padding-bottom: 50px;

}
.card1{
grid-row: 4;
grid-column: 1;
}

.card2{

grid-row: 4;
grid-column: 2;
}

.card3{

grid-row: 4;
grid-column: 3;
}