.irish-grover {
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
}

.crimson-pro {
    font-family: "Crimson Pro", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    background-color: #F5F5E2;
}

/*-home page starts-*/

/*------------------FOOTER-------------------------------------*/
footer{
    background-color: #D9D3DE;;
    text-align: center;
}

.footer-display{
    display:flex;
    justify-content: center;
}

.footer-col1{
    font-size: 25px;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 120px;
}

.footer-col2{
    font-size: 25px;
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 80px;
}

.footer-col3{
    font-size: 25px;
    padding-top: 100px;
    padding-left: 80px;
    padding-right: 100px;
}

.footer-quote{
    padding: 70px;
    font-size: 18px;
    font-weight: bolder;
}

/*--------------------CLASS-------------------------*/
.container-grid{
display: grid;
grid-template-column: 1fr;

}
.class-img {
  max-width: 100%;
  height: 500px;
  padding-left: 0;
  padding-right: 0;
  grid-column:1;
grid-row: 1;
}

.textBox{
display:flex;
align-item: center;
justify-content: center;
grid-column: 1;
grid-row: 1;
}































.navAlignText{
    font-family: "Crimson Pro", serif;
    font-style: normal;
    height: 100%;
    width: 100%;
}
/* home page ends*/
/*-market Days starts--*/

.heroCont {

    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 0;
}

.header {
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;

}

.days-p {
    font-family: "Crimson Pro", serif;
    font-size: 28px;
    font-style: normal;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 30px;
     background-color: seagreen;
   
}

.img-text {
    margin-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 30px;
   width: 90%;
    height: 100%;
}


/*-market Days End-*/



.navAlignText {
    display: flex;
}

.navRightText{
    font-size: 24px;
}
.navTitleText{
    font-size: 35px;
    filter: drop-shadow(3px 5px 2px #8d8686);
}
.navColor{
    background-color: #D9D3DE;
}
.navCorrect{
    padding-top:0;
    padding-bottom: 0;
}
.eyeSize{
    width: 22px;
    padding: 0px;
    filter: drop-shadow(3px 5px 2px #8d8686);
}
.headerGrid{
    display: grid;
}
.inventoryHeaderImg{
    padding-left: 0;
    padding-right: 0;
    opacity: 50%;
    width: 100%
}
 .headerbox{
     width:100%;
    color: black;
    /* opacity: 50%; */
} 