.irish-grover {
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
}

.crimson-pro {
    font-family: "Crimson Pro", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
/*-home page starts-*/
.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background-color: bisque;
}

.hero-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row: 2;
    grid-column: span 3;
    position: relative;

}

.hero-img {
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    height: 100%;
   

}

.h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1;
    grid-row: 2;
    font-family: "Irish Grover", system-ui;
}

.text {
    font-family: "Crimson Pro", serif;
    grid-row: 3;
    grid-column: span 3;
    justify-content: center;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 40px;
    justify-content: center;
    min-height: 50%;

}

.carousel {
    grid-column: span 3;
    grid-row: 4;
    padding-bottom: 50px;
   width: 100%;
   height: 100%;

}

.card1 {
    grid-row: 5;
    grid-column: 1;
    font-family: "Crimson Pro", serif;
    font-style: normal;
    height: 100%;
    width: 100%;

}

.card2 {
    grid-row: 5;
    grid-column: 2;
    font-family: "Crimson Pro", serif;
    font-style: normal;
    height: 100%;
    width: 100%;
}

.card3 {

    grid-row: 5;
    grid-column: 3;
    font-family: "Crimson Pro", serif;
    font-style: normal;
    height: 100%;
    width: 100%;
}
/* home page ends*/
/*-market Days starts--*/

.heroCont {

    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 0;
}

.header {
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;

}

.days-p {
    font-family: "Crimson Pro", serif;
    font-size: 28px;
    font-style: normal;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 30px;
     background-color: seagreen;
   
}

.img-text {
    margin-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 30px;
   width: 90%;
    height: 100%;
}


/*-market Days End-*/



.navAlignText {
    display: flex;
}