.main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.hero-grid{
    grid-row: 1;
    grid-column: span 3;

}
.text{

grid-row: 2;
grid-column: span 3;
display: flex;
justify-content: center;
padding-right: 50px;
padding-left: 50px;


}

.carousel{
grid-column: span 3;
grid-row: 3;

}
.card1{
grid-row: 4;
grid-column: 1;
}

.card2{

grid-row: 4;
grid-column: 2;
}

.card3{

grid-row: 4;
grid-column: 3;
}