
.irish-grover {
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
}

.crimson-pro{
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background-color: bisque;
}

.hero-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row: 2;
    grid-column: span 3;
    min-height: 50%;

}

.hero-img {
    grid-column: 1;
    grid-row: 2;

}

.h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1;
    grid-row: 2;
    background-color: rgb(rgb(98, 92, 92));
    font-family: "Irish Grover", system-ui;
}

.text {
   font-family: "Crimson Pro", serif;
    grid-row: 3;
    grid-column: span 3;
    justify-content: center;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 40px;
    justify-content: center;
      min-height: 50%;

}

.carousel {
    grid-column: span 3;
    grid-row: 4;
    padding-bottom: 50px;
      min-height: 50%;

}
/*--------------------------CARD------------------------------*/
.card1 {
    grid-row: 5;
    grid-column: 1;
     font-family: "Crimson Pro", serif;
     font-style: normal;
     
}

.card2 {

    grid-row: 5;
    grid-column: 2;
     font-family: "Crimson Pro", serif;
     font-style: normal;
}

.card3 {

    grid-row: 5;
    grid-column: 3;
     font-family: "Crimson Pro", serif;
     font-style: normal;
}
/*------------------FOOTER-------------------------------------*/
footer{
    background-color: lavender;
    text-align: center;
}

.footer-display{
    display:flex;
    justify-content: center;
}

.footer-col1{
    font-size: 25px;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 120px;
}

.footer-col2{
    font-size: 25px;
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 80px;
}

.footer-col3{
    font-size: 25px;
    padding-top: 100px;
    padding-left: 80px;
    padding-right: 100px;
}

.footer-quote{
    padding: 70px;
    font-size: 18px;
    font-weight: bolder;
}

/*--------------------CLASS-------------------------*/
.class-img {
  max-width: 100%;
}






























.navAlignText{
    display: flex;
}

.navRightText{
    font-size: 24px;
}
.navTitleText{
    font-size: 35px;
    filter: drop-shadow(3px 5px 2px #8d8686);
}
.navColor{
    background-color: #D9D3DE;
}
.navCorrect{
    padding-top:0;
    padding-bottom: 0;
}
.eyeSize{
    width: 22px;
    padding: 0px;
    filter: drop-shadow(3px 5px 2px #8d8686);
}