.irish-grover {
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
}

.crimson-pro {
    font-family: "Crimson Pro", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: #F5F5E2;
}

/*-home page starts-*/
p {
    font-size: 28px;
    font-family: "Crimson Pro", serif;
    align-items: center;

}
.homepage-p {

font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
}
.text-img{
width: 100%;
background-color:#ACCEAC;

 } 
 .background{
width: 32%;
height: 140%;
 background-color:#ACCEAC;
 margin-right: 10px;
 }
 .image-div{
padding-top: 15px;

 }
 

  

 

/*------------------FOOTER-------------------------------------*/
footer {
    background-color: #D9D3DE;
    ;
    text-align: center;
}

.footer-display {
    display: flex;
    justify-content: center;
}

.footer-col1 {
    font-size: 25px;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 120px;
}

.footer-col2 {
    font-size: 25px;
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 80px;
}

.footer-col3 {
    font-size: 25px;
    padding-top: 100px;
    padding-left: 80px;
    padding-right: 100px;
}

.footer-quote {
    padding: 70px;
    font-size: 18px;
    font-weight: bolder;
}

/*--------------------CLASS-------------------------*/

.class-img {
 background-image: url("../images/ClassesBGUpdate.png");
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.class-img-overlay{
    color: white;
    font-family: irish-grover;
}


.class-description{
    background-color: #B5B1B4;
    margin-top: 25px;
    margin-bottom: 45px;
    border-radius: 15px;
    padding:70px;
}
.col-class1{
    background-color: pink;
    padding: 100px;
    gap:100px;
    margin-right: 50px;
    border-radius: 50px;
    font-family: irish-grover;
    font-weight: bolder;
    text-align: center;
    
}
.col-class2{
    background-color: pink;
    padding: 100px;
    gap:50px;
    margin-right: 50px;
    border-radius: 50px;
    font-family:irish-grover;
    font-weight: bolder;
    text-align:center;
    
}

.teacher-container{
    background-color: rgb(157, 208, 157);
    margin-top: 25px;
    margin-bottom: 45px;
}

.teacher-text{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 35px;

}

.teacher-rows{
    padding: 50px;
}

.navAlignText {
    font-family: "Crimson Pro", serif;
    font-style: normal;
    height: 100%;
    width: 100%;
}

/* home page ends*/


/*-market Days starts--*/

.heroCont {

    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 0;
}

.header {
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;

}

.days-p {
    font-family: "Crimson Pro", serif;
    font-size: 28px;
    font-style: normal;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 30px;
    background-color:#ACCEAC;


}

h2{
padding-top: 5%;
padding-bottom: 5%;
font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;

}
.img-text {
    margin-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 30px;
    width: 90%;
    height: 100%;
      font-family: "Crimson Pro", serif;
}


/*-market Days End-*/



.navAlignText {
    display: flex;
}

.navRightText {
    font-size: 24px;
}

.navTitleText {
    font-size: 35px;
    filter: drop-shadow(3px 5px 2px #8d8686);
}

.navColor {
    background-color: #D9D3DE;
}

.navCorrect {
    padding-top: 0;
    padding-bottom: 0;
}

.eyeSize {
    width: 22px;
    padding: 0px;
    filter: drop-shadow(3px 5px 2px #8d8686);
}

.headerGrid {
    display: grid;
}

.inventoryHeaderImg {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    grid: 1/1;
}
 /* .headerbox{
     width:100%;
    background-color: black;
    /* opacity: 50%; 
    grid: 1/1;
}  */
